.biography{
    height: 100vh;
    display: grid;
    place-items: center;
}
.cards_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.achievements{
    display: grid;
    place-items: center;
    &_container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 5%;
        justify-content: center;
    }
    & ul li{
        margin: 15px 0;
        list-style: circle;
        font-size: 0.9rem;
    }
}
.skills_container{
    width: 100vw;

}
.skills_cards_container{
    display: grid;
    place-items: center;
}
.skill-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.skill-card h4{
    font-size: 14px;
    color: $gray-700;
    text-align: center;
    
    
}
