.biography{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.about-card{
    height: 50%;
    width: 80%;
    margin: auto 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   }
.about-card_title, .about-card_subtitle{
    text-align: center;
}
.about-card .bi{
    font-size: 48px;
    color: $blue;
}
.work_experience{
    width: 100vw;
    height: 100vh;
}
.work_experience .title{
    margin: 30px auto;

}
.cards_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.achievements{
    width: 100vw;
    display: grid;
    place-items: center;
    &_container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 5%;
        justify-content: center;
    }
    & ul li{
        margin: 15px 0;
        list-style: circle;
        font-size: 0.9rem;
    }
}
.skills_container{
    width: 100vw;

}
.skills_cards_container{
    display: grid;
    place-items: center;
}
.skill-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.skill-card h4{
    font-size: 14px;
    color: $gray-700;
    text-align: center;
    
    
}
