 .contact_main{
    height: 100vh;
    display: grid;
    place-items: center;
}
    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
        & a{
            margin: 0 20px;
            & i{
                font-size: 24px;
            }
        }
    }
footer p{
    text-align: center;
    margin: 30px;
}

