*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    width: 100vw;
    background-color: $gray-200;
}

.title{
    text-align: center;
    margin: 200px 0px;
}
.bi{
    font-size: 48px;
}
.hidden{
    display: none;
}